ipykernel
ipython
Jinja2==3.1.4
jupyter_client
jupyter_core
keras==3.3.3
kiwisolver==1.4.5
libclang==18.1.1
matplotlib==3.9.0
matplotlib-inline
numpy==1.26.4
onnx==1.16.0
onnxruntime==1.17.3
opencv-contrib-python==4.9.0.80
opencv-python==4.9.0.80
pandas==2.2.2
pillow==10.3.0
scikit-learn==1.5.1
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-io-gcs-filesystem==0.37.0
torch==2.3.0
torchvision==0.18.0
